<!DOCTYPE html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Hate Speech Detection Demo:
		</div>
		<h2>Misogyny Detection using Random Forest Classifier</h2>

	</div>
	</header>
    <div class="textAreaContainer">
        <form name="form", method="POST", style="text-align: center;">
            <br>
            <h2>Input</h2>
            <textarea class="textBox" type="text" rows="5" name="text_input", placeholder="Enter Text..." required></textarea>
            <br><br>
            <button class="btn-info" value="Submit">Run</button>
        </form>
        <div class="resultsContainer">
            <h1>Results</h1>
        <h1 data-status="{{ output }}" class="results" style="text-align: center";></h1>
            </div>
    </div>
    </body>
</html>